<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>封鎖された家庭科室からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="Project N"></div>
      <div class="header__name">N・S高生徒体験用サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="封鎖された家庭科室からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>さぁゲームを始めよう！</h2>
            <p class="text-center">まずは、この学校の家庭科室の鍵のありかを知らなければ入ることができない。<br>
              下の画像の謎を解き、鍵のありかをキーワード欄に入力しよう。</p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
            <div class="youtube__container">
              <!-- YouTube貼り付け -->
              <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- YouTube貼り付け -->
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <div class="answer">
              <input type="text" v-model="stage1" placeholder="ここにキーワードを入力しよう">
            </div>
            <p class="err-message">{{ stage1Message }}</p>
            <button v-on:click="stage1AnswerInput(stage1)">送信</button>
            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <section v-if="stage1Answer" v-bind:class="{isClear:stage1Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：１  クリア！</div>
              <div class="clear-message__content">家庭科室の扉が開いた！<br>
                さぁ先生を助けるため<br>
                ３つステージの謎をとき、暗号を見つけ出そう！</div>
              <button v-on:click="stage1NextStage" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <div v-if="stage1Clear" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>黒板に書かれている謎を解け！</h2>
              <p class="text-center">家庭科室に入ることができた！<br>
                すぐに目に入ったのは黒板にある４つの謎。<br>
                これらを解くことで、きっと次のステップに繋がるはずだ！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--gray">
            <div class="container">
              <!--
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              -->
              <div class="row">

                <!-- STAGE201(2-1)　ここから -->
                <div class="column">
                  <!-- STAGE201問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>
                  <!-- STAGE201(2-1)問題セクション　ここまで -->
                  <!-- STAGE201(2-1)解答入力セクション　ここから -->
                  <div class="answer__container">
                    <div class="answer">
                      <input type="text" v-model="stage201" placeholder="ここに答えを入力しよう">
                    </div>
                    <p v-if="stage201Message === ngMessage" class="err-message">{{ stage201Message }}</p>
                    <button v-on:click="stage201AnswerInput(stage201)">送信</button>
                    <p v-if="stage201Message === okMessage" class="err-message">{{ stage201Message }}</p>
                    <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  </div>
                  <!-- STAGE201(2-1)解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE201(2-1)　ここまで -->

                <!-- STAGE202(2-2)　ここから -->
                <div class="column">
                  <!-- STAGE202(2-2)問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>
                  <!-- STAGE202(2-2)問題セクション　ここまで -->
                  <!-- STAGE202(2-2)解答入力セクション　ここから -->
                  <div class="answer__container">
                    <div class="answer">
                      <input type="text" v-model="stage202" placeholder="ここに答えを入力しよう">
                    </div>
                    <p v-if="stage202Message === ngMessage" class="err-message">{{ stage202Message }}</p>
                    <button v-on:click="stage202AnswerInput(stage202)">送信</button>
                    <p v-if="stage202Message === okMessage" class="err-message">{{ stage202Message }}</p>
                    <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  </div>
                  <!-- STAGE202(2-2)解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE202(2-2)　ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="stage2Answer" v-bind:class="{isClear:stage2Answer}" class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">黒板の指示に従い、<br>
                次のステージの謎を解こう！</div>
                <button v-on:click="stage2NextStage" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="stage2Clear" id="sectionStage3" class="stage">

        <!-- STAGE3問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>家庭科室の課題とは</h2>
            <p class="text-center">黒板から得たメッセージは、「食物の廃棄問題」だった。<br>
              どうやら、廃棄にかかる費用がかかりすぎて小学校の運営が厳しくなったようだ。。<br>
              これらを解決するための最後の謎を解いていこう！</p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->

        <!-- STAGE3解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <div class="answer">
              <input type="text" v-model="stage3" placeholder="ここにキーワードを入力しよう">
            </div>
            <p class="err-message">{{ stage3Message }}</p>
            <button v-on:click="stage3AnswerInput(stage3)">送信</button>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>　
          </div>
        </section>
        <!-- STAGE3解答入力セクション　ここまで -->

      </div>
      <!-- STAGE3　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center">主催／企画制作<br>
        SCRAP × N・S高生</p>
      <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
      <p class="text-center">produced by 学校法人角川ドワンゴ学園</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>